<!-- views/ventaLista.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <div id="durl" class="jumbotron" style="margin-top: 150px;">		
		<div class="container">
			<!-- LISTA DE ARTICULOS REGRISTRADOS -->
			<div id="articulos" class="articulos">
				<div class="nuevoarticulo">
					<button data-toggle="modal" data-target="#registroArticuloModal" id="btnRegistroArticulo" class="btn btn-primary">
						<i class="fas fa-plus-circle" style="font-size: 24px; color:green"></i> <%= nuevo %>
					</button>
				</div>
				<div class="divArticulosRegistrados">
					<h5><%=titulo%></h5>
					<table id="tblArticulosRegistrados" class="table table-hover">
					<thead>
					<tr>
						<th>Clave Art&iacute;culo</th>
						<th>Descripci&oacute;n</th>
						<th>Existencia</th>
						<th>Modelo</th>
						<th>Color</th>
						<th>Precio</th>
					</tr>
					</thead>
					<tbody>
					<%	if (articulos_list === null || articulos_list.length === 0 ){ %>
					<tr>
						<td colspan="6"><p style="text-decoration-style: bold; text-decoration-color: red">No hay datos disponibles</p></th>
					</tr>
					<%	} else {
							for (var i = 0; i < articulos_list.length; i ++){
					%>
					<tr>
						<td><%= articulos_list[i]._id %></th>
						<td><%= articulos_list[i].descripcion %> </td>
						<td><%= articulos_list[i].cantidad %></td>
						<td><%= articulos_list[i].modelo %></td>
						<td><%= articulos_list[i].color %></td>
						<td><%= articulos_list[i].precio %></td>
					</tr>
					<%		}
						} %>
					</tbody>
					</table>
				</div>
			</div>
			<!-- LISTA DE ARTICULOS REGRISTRADOS -->
			<!------ MODAL REGISTRO DE ARTICULO -->
			<div id="registroArticuloModal" class="modal fade" role="dialog" aria-labelledby="registroArticuloModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-full-width" rol="document">
					<!-- Modal content-->
					<div class="modal-content modal-full-width">
						<form id="registroArticulos" class="form-inline">
						<input type="hidden" id="idArticulo" name="articulo[id]" value="<%=nuevoArticulo%>">
						<!-- Modal header-->
						<div class="modal-header col-sm-12 col-lg-12">
							<h2 class="modal-title" id="registroArticuloModalLabel">Registro de Articulo</h2>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<!-- Modal header-->
						<!-- Modal body-->
        				<div class="modal-body col-sm-12 col-lg-12">
							<div class="form-group">
								<label>
									<span for="idArticulo" class="label-text folio col-sm-4 col-lg-4">Clave:</span>
									<div class="col-sm-8 col-lg-8">
										<p class="form-control-static"><%=nuevoArticulo%></p>
									</div>
								</label>
							</div>

							<div class="form-group">
								<label>
									<span for="descripcion" class="label-text col-sm-4 col-lg-4">Descripci&oacute;n:</span>
									<div class="col-sm-8 col-lg-8">
										<input type="text" class="form-control active-cyan-4 mb-4" placeholder="Descripci&oacute;n" id="descripcion" name="articulo[descripcion]">
									</div>
								</label>
							</div>
							
							<div class="form-group">
								<label>
									<span for="modelo" class="label-text col-sm-4 col-lg-4">M&oacute;delo:</span>
									<div class="col-sm-8 col-lg-8">
										<input type="text" class="form-control active-cyan-4 mb-4" placeholder="M&oacute;delo" id="modelo" name="articulo[modelo]">
									</div>
								</label>
							</div>
								
							<div class="form-group">
								<label>
									<span for="color" class="label-text col-sm-4 col-lg-4">Color:</span>
									<div class="col-sm-8 col-lg-8">
										<input type="text" class="form-control active-cyan-4 mb-4" placeholder="Color" id="color" name="articulo[color]">
									</div>
								</label>
							</div>
							<div class="form-group">
								<label>
									<span for="precio" class="label-text col-sm-4 col-lg-4">Precio:</span>
									<div class="col-sm-8 col-lg-8">
										<input type="text" class="form-control active-cyan-4 mb-4" placeholder="Precio" id="precio" name="articulo[precio]">
									</div>
								</label>
							</div>
							<div class="form-group">
								<label>
									<span for="existencia" class="label-text col-sm-4 col-lg-4">Cantidad:</span>
									<div class="col-sm-8 col-lg-8">
										<input type="number" class="form-control active-cyan-4 mb-4" placeholder="Cantidad" id="existencia" name="articulo[existencia]">
									</div>
								</label>
							</div>
						</div>
						<!-- Modal body-->
						<!-- Modal footer -->
						<div class="modal-footer col-sm-12 col-lg-12">
							<button type="submit" class="btn btn-danger btn-secundary pull-rigth" data-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-success btn-primary pull-rigth">Siguiente</button>
						</div>
						<!-- Modal footer -->
						</form>
					</div>
				</div>
			</div>
			<!------ MODAL REGISTRO DE ARTICULO -->
		</div>
    </div>
</main>

<footer>
	<% include ./partials/footer %>
</footer>

</body>
</html>