<!-- views/ventaLista.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <div id="durl" class="jumbotron" style="margin-top: 150px;">		
		<div class="container">
			<div id="configuracion" class="configuracion">
				<form id="frmConfiguracion" method="post" action="/catalog/configuracion/:id/update">
				<input type="hidden" id="id" name="config[id]" value="<%=configuracion[0]._id%>">
				<div class="col-sm-12 col-md-8 col-lg-6">
					<h2><%=titulo%></h2>
				</div>
				<div id="divConfiguracion" class="col-sm-12 col-md-8 col-lg-6">
					<div class="form-group">
						<label for="tasa">Tasa Financiamiento:</label>
						<input type="text" class="form-control" id="tasa" name="config[tasa]" value="<%=configuracion[0].tasa%>">
					</div>
					<div class="form-group">
						<label for="enganche">% de Enganche:</label>
						<input type="text" class="form-control" id="enganche" name="config[enganche]" value="<%=configuracion[0].enganche%>" 
					</div>
					<div class="form-group">
						<label for="plazo">Plazo M&aacute;ximo:</label>
						<input type="text" class="form-control" id="plazo" name="config[plazo]" value="<%=configuracion[0].plazo_max%>">
					</div>
				</div>
				<div class="col-sm-12 col-md-8 col-lg-6">
					<button type="submit" class="btn btn-success btn-default pull-rigth">Guardar</button>
				</div>
				</form>
			</div>
		</div>
    </div>
</main>

<footer>
	<% include ./partials/footer %>
</footer>

</body>
</html>