<!DOCTYPE html>
<html lang="en">
<head>
	<title>La Vendimia</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/laVendimia.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
	<script src="jquery/dist/jquery.min.js"></script>
	<script src="bootstrap/dist/js/bootstrap.js"></script>

</head>
<body style="height:1000px">

<!-- Dropdown Structure -->
<!--ul id="ddmenu" class="dropdown-content">
	<li><a href="#!">Ventas</a></li>
	<li><a href="#!">Clientes</a></li>
	<li><a href="#!">Art&iacute;culos</a></li>
	<li class="divider"></li>
	<li><a href="#!">Configuraci&oacute;n</a></li>
</ul-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	<div class="nav-wrapper">
		<div class="row " >
			<div class=".col-sm-12 .col-md-12 .col-lg-12 .col-xl-12">
				<h2 class="brand-logo right">La Vendimia</h2>
			</div>
		</div>
		<div class="row">
		<div class=".col-sm-3 .col-md-3 .col-lg-6 .col-xl-6">
		<ul class="navbar-nav left hide-on-med-and-down">
			<!-- Dropdown -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
					Inicio
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" id="ddventas">Ventas</a>
					<a class="dropdown-item" id="ddclientes">Clientes</a>
					<a class="dropdown-item" id="ddarticulo">Art&iacute;culos</a>
					<a class="dropdown-item" id="ddconfiguracion">Configuraci&oacute;n</a>
				</div>
			</li>
			<!-- Dropdown Trigger -->
      <!--li><a class="dropdown-trigger" href="#!" data-target="ddmenu">Inicio<i class="material-icons right">arrow_drop_down</i></a></li-->
    
		</ul>
		</div>
		<div class=".col-sm-9 .col-md-9 .col-lg-6 .col-xl-6">
			<h5 class="date right"> <%=today%></h5>
		</div>
		</div>
	</div>
</nav>
<div id="durl" class="container-fluid" style="margin-top: 250px;">
	<div class="container">
				<div id="ventas" class="ventas">
					<div class="nuevaventa">
						<button data-toggle="modal" data-target="#registroVentaModal" id="btnRegistroVenta" class="btn btn-primary">
							<i class="fas fa-plus-circle" style="font-size: 24px; color:green"></i> Nueva Venta
						</button>
					</div>
					<div class="ventasactivas">
						<h5>Ventas Activas</h5>
						<table id="tblVentasActivas" class="table display">
						<thead class="thead-light">
						<tr>
							<th>Folio Venta</th>
							<th>Clave Cliente</th>
							<th>Nombre</th>
							<th>Total</th>
							<th>Fecha</th>
							<th>Estatus</th>
						</tr>
						</thead>
						<tbody>
						<%	if (ventas_list === null || ventas_list.length === 0 ){ %>
						<tr>
							<td colspan="6"><p style="text-decoration-style: bold; text-decoration-color: red">No hay datos disponibles</p></th>
						</tr>
						<%	} else {
								for (let i = 0; i<=ventas_list.length; i++){
						%>
						<tr>
							<td><%= ventas_list[i].folio %></th>
							<td><%= ventas_list[i].cliente %> </td>
							<td><%= ventas_list[i].vendedor %></td>
							<td><%= ventas_list[i].total %></td>
							<td><%= ventas_list[i].enganche %></td>
							<td><%= ventas_list[i].estatus %></td>
						</tr>
						<%		}
							} %>
						</tbody>
						<tfoot class="thead-light">
						<tr>
							<th>Folio Venta</th>
							<th>Clave Cliente</th>
							<th>Nombre</th>
							<th>Total</th>
							<th>Fecha</th>
							<th>Estatus</th>
						</tr>
						</tfoot>
						</table>
					</div>
				</div>
			
	</div>
</div>
<div class="footer-copyright">
	<div class="container">© 2019 Copyright OPL Lab</div>
</div>

<script type="text/javascript">

$(document).ready( function() {
	$(".dropdown-trigger").dropdown();
/// event on node 
	$("#ddventas").on("click", function() {
		$("#durl").load("ventas.html");
	});
	$("#btnRegistroVenta").click(function (event) {
		$("#registroVentaModal").modal("show");
	});
});

function noDisponible(modulo) {
	document.getElementById("durl").innerHTML = '<div id="nodisponible" class="nodisponible"><h1>M&oacute;dulo de ' + modulo + ' est&aacute; en proceso de liberaci&oacute;n.</h1><div>';
}

document.getElementById("ddclientes").onclick = function() { 
	noDisponible("Clientes");
}

document.getElementById("ddarticulo").onclick = function() { 
	noDisponible("Art&iacute;culo");
}

document.getElementById("ddconfiguracion").onclick = function() { 
	noDisponible("Configuraci&oacute;n");
} 
 
</script> 

</body>
</html>