			<div class="container">
				<div id="ventas" class="ventas">
					<div class="nuevaventa">
						<button data-toggle="modal" data-target="#registroVentaModal" id="btnRegistroVenta" class="btn btn-primary">
							<i class="fas fa-plus-circle" style="font-size: 24px; color:green"></i> Nueva Venta
						</button>
					</div>
					<div class="ventasactivas">
						<h5>Ventas Activas</h5>
						<table id="tblVentasActivas" class="table display">
						<thead class="thead-light">
						<tr>
							<th>Folio Venta</th>
							<th>Clave Cliente</th>
							<th>Nombre</th>
							<th>Total</th>
							<th>Fecha</th>
							<th>Estatus</th>
						</tr>
						</thead>
						<tbody>
						<% ventas.forEach(function(venta){ %>
						<tr>
							<td><%= venta.folio %></th>
							<td><%= venta.cliente %> </td>
							<td><%= venta.vendedor %></td>
							<td><%= venta.total %></td>
							<td><%= venta.enganche %></td>
							<td><%= venta.estatus %></td>
						</tr>
						<% )} %>
						</tbody>
						<tfoot class="thead-light">
						<tr>
							<th>Folio Venta</th>
							<th>Clave Cliente</th>
							<th>Nombre</th>
							<th>Total</th>
							<th>Fecha</th>
							<th>Estatus</th>
						</tr>
						</tfoot>
						</table>
					</div>
				</div>
				<div id="registroventa" class="registroventa modal">
					<div>
					<form id="registroVentas">
						<h5>Registro de Ventas</h5>
						<div class="input-group mb-3 input-group-sm">
							<div class="input-group-prepend">
								<span class="input-group-text folio">Folio Venta</span>
							</div>
							<input id="folio" type="text" class="form-control folio" value="000000" readonly>
						</div>
						<div class="input-group mb-3 input-group-sm">
							<div class="input-group-prepend">
								<span class="input-group-text busca">Cliente</span>
							</div>
							<input id="id_cliente" type="hidden">
							<input id="nombre_cliente" type="text" class="form-control">
							<input id="rfc" type="text" class="form-control" readonly>
						</div>
						<div class="input-group mb-3 input-group-sm">
							<div class="input-group-prepend">
								<span class="input-group-text busca">Art&iacute;culo</span>
							</div>
							<input id="id_articulo" type="hidden">
							<input id="cantidad" type="hidden">
							<input id="desc_articulo" type="text" class="form-control">
							<i class="fas fa-plus-square" style="font-size:32px"></i>
						</div>
						<div>
							<table class="table table-hover">
							<thead>
							<tr>
								<th>Descripci&oacute;n Art&iacute;culo</th>
								<th>Modelo</th>
								<th>Cantidad</th>
								<th>Precio</th>
								<th>Importe</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>John</td>
								<td>Doe</td>
								<td>john@example.com</td>
								<td>John</td>
								<td>John</td>
							</tr>
							<tr>
								<td>John</td>
								<td>Doe</td>
								<td>john@example.com</td>
								<td>John</td>
								<td>John</td>
							</tr>
							</tbody>
							</table>
						</div>
					</form>
					</div>
				</div>
				<div id="abonosMensuales" class="modal abonosMensuales">
					<div class="modal-dialog">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">Abonos Mensuales</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<!-- Modal body -->
							<div class="modal-body">
								<form id="abonos">
								
								<div>
									<table class="table table-hover">
									<thead class="thead-light">
									<tr>
										<th colspan="5" style="align: center">ABONOS MENSUALES</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>3 Abonos de </td>
										<td></td>
										<td>Total a pagar : </td>
										<td>Se ahorra: </td>
										<td><input id="abono" type="radio" value="3"></td>
									</tr>
									<tr>
										<td>6 Abonos de </td>
										<td></td>
										<td>Total a pagar :</td>
										<td>Se ahorra:</td>
										<td><input id="abono" type="radio" value="6"></td>
									</tr>
									<tr>
										<td>9 Abonos de </td>
										<td></td>
										<td>Total a pagar :</td>
										<td>Se ahorra:</td>
										<td><input id="abono" type="radio" value="9"></td>
									</tr>
									<tr>
										<td>12 Abonos de </td>
										<td></td>
										<td>Total a pagar :</td>
										<td>Se ahorra: </td>
										<td><input id="abono" type="radio" value="12"></td>
									</tr>
									</tbody>
									</table>
								</div>
								</form>
							</div>
							<!-- Modal footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
