<!-- views/ventaLista.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
	<div id="durl" class="jumbotron" style="margin-top: 150px;">		
		<div class="container">
			<!-- INICIAL DE VENTA -->
			<div id="ventas" class="ventas">
				<div class="nuevaventa col-sm-12 col-md-12 col-lg-12">
					<button data-toggle="modal" data-target="#registroVentaModal" id="btnNuevaVenta" class="btn btn-primary pull-rigth">
						<i class="fas fa-plus-circle" style="font-size: 24px; color:green"></i> Nueva Venta
					</button>
				</div>
				<div class="nuevaventa col-sm-12 col-md-12 col-lg-12">
					<h4><%=titulo%></h4>
				</div>
				<div class="ventasactivas" col-sm-12 col-md-12 col-lg-12>
					
					<table id="tblVentasActivas" class="table table-hover">
					<thead>
					<tr>
						<th>Folio Venta</th>
						<th>Clave Cliente</th>
						<th>Nombre</th>
						<th>Total</th>
						<th>Fecha</th>
						<th>Estatus</th>
					</tr>
					</thead>
					<tbody>
					<%	if (ventas === null || ventas.length === 0 ){ %>
					<tr>
						<td><p style="text-decoration-style: bold; text-decoration-color: red">No hay datos disponibles</p></td>
						<td></td><td></td><td></td><td></td><td></td>
					</tr>
					<%	} else {
							for (var i = 0; i < ventas.length; i ++){
								var miCliente = ventas[i].cliente.nombre +' ' +ventas[i].cliente.primer_apellido+' '+ventas[i].cliente.segundo_apellido;
								var myDate = ventas[i].fecha_venta;
					%>
					<tr>
						<td><%= ventas[i].folio %></th>
						<td><%= ventas[i].cliente._id %> </td>
						<td><%= miCliente %></td>
						<td>$<%= ventas[i].total %></td>
						<td><%= ventas[i].fecha_venta %></td>
						<td><%= ventas[i].estatus %></td>
					</tr>
					<%		}
						} %>
					</tbody>
					</table>
				</div>
			</div>
			<!------ INICIAL DE VENTA ENDS -->
			<!------ MODAL REGISTRO DE VENTA -->
			<div id="registroVentaModal" class="modal fade" role="dialog" aria-labelledby="registroVentaModalLabel" aria-hidden="true">
				<!------ MODAL DIALOG -->
				<div class="modal-dialog modal-full-height" rol="document">
					<!-- MODAL CONTENT -->
					<div class="modal-content modal-full-height">
						<!-- FORM -->
						<form id="registroVentas" class="form-inline" method="post" action="/catalog/venta/create">
						<input type="hidden" id="articulos" name="venta[articulos]">
						<input type="hidden" id="id_cliente" name="venta[id_cliente]">
						<input type="hidden" id="folio" name="venta[folio]" value="<%=nuevoFolio%>">
						<input type="hidden" id="config_plazo_max" name="config[plazo_max]" value="<%=configuracion[0].plazo_max%>">
						<input type="hidden" id="config_enganche" name="config[enganche]" value="<%=configuracion[0].enganche%>">
						<input type="hidden" id="config_tasa" name="config[tasa]" value="<%=configuracion[0].tasa%>">
							<!-- Modal header-->
							<div class="modal-header col-sm-12 col-lg-12">
								<h2 class="modal-title" id="registroVentaModalLabel">Registro de Ventas</h2>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<!-- Modal body-->
							<div class="modal-body col-sm-12 col-lg-12">

								<div class="form-group">
									<label>
										<span for="folio" class="label-text folio">Folio Venta:</span>
										<p class="form-control-static folio"> <%=nuevoFolio%> </p>
									</label>
								</div>

								<div class="form-group">
									<label>
										<span for="busca_cliente" class="label-text col-sm-3 col-lg-3">Cliente:</span>
										<div class="col-sm-5 col-lg-5">
											<input type="text" class="form-control active-cyan-4 mb-4" placeholder="Cliente" aria-label="Search" id="busca_cliente">
											<span class="fas fa-search" aria-hidden="true"></span>
										</div>
										<div class="col-sm-4 col-lg-4">
											<input type="text" class="form-control transparent-input" placeholder="RFC" id="rfc" readonly>
										</div>
									</label>
								</div>
							
								<div class="form-group">
									<label>
										<span for="busca_articulo" class="label-text col-sm-3 col-lg-3">Art&iacute;culo:</span>
										<div class="col-sm-7 col-lg-7">
											<input type="text" class="form-control active-cyan-4 mb-4" placeholder="Articulo" aria-label="Search" id="busca_articulo">
											<span class="fas fa-search" aria-hidden="true"></span>
										</div>
										<div class="col-sm-2 col-lg-2">
											<span class="fas fa-plus-square"></span>
										</div>
									</label>
								</div>
								
								<div class="clearfix"></div>

								<!-- CONTENEDOR DE TABLAS -->
								<div id="divTablesContainer" class="form-group">
									<!-- Registro de Ventas -->
									<div id="divRegistroVenta" class="form-group  col-sm-12 col-lg-12">
										<table id="tblRegistroVenta" class="table table-hover">
										<thead>
										<tr>
											<th>Id</th>
											<th>Descripci&oacute;n</th>
											<th>Modelo</th>
											<th>Cantidad</th>
											<th>Precio</th>
											<th>Importe</th>
										</tr>
										</thead>
										<tbody id="ventasDataTable">
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										</tbody>
										</table>
									</div>
									<!-- Catalogo de articulos -->
									<div id="divArticulosVenta" class="form-group col-sm-12 col-lg-12" style="display: none">
										<button id="btnCierraArticulos" type="button" class="close" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										<table id="tblArticulosVenta" class="table table-hover">
										<thead>
										<tr>
											<th>Id</th>
											<th>Existencia</th>
											<th>Descripci&oacute;n</th>
											<th>Modelo</th>
											<th>Color</th>
											<th>Precio</th>
										</tr>
										</thead>
										<tbody id="articulosDataTable">
										<%	if (articulos === undefined || articulos.length === 0 ){ %>
										<tr>
											<td><p style="text-decoration-style: bold; text-decoration-color: red">No hay datos disponibles</p></td>
											<td></td><td></td><td></td><td></td><td></td>
										</tr>
										<%	} else {
												for (var i = 0; i < articulos.length; i ++){
													var id_articulo = articulos[i]._id;
										%>
										<tr>
											<td><%= id_articulo %></th>
											<td><%= articulos[i].cantidad %></td>
											<td><%= articulos[i].descripcion %> </td>
											<td><%= articulos[i].modelo %></td>
											<td><%= articulos[i].color %></td>
											<td>$<%= articulos[i].precio %></td>
										</tr>
										<%		}
											} %>
										</tbody>
										</table>
									</div>
									<!-- Catalogo de articulos -->
									<!-- Catalogo de clientes -->
									<div id="divClientesVenta" class="form-group col-sm-12 col-lg-12" style="display: none">
										<table id="tblClientesVenta" class="table table-hover">
										<thead>
										<tr>
											<th>Id</th>
											<th>Nombre</th>
											<th>RFC</th>
											<th>Tel&eacute;fono</th>
										</tr>
										</thead>
										<tbody id="clientesDataTable">
										<%	if (clientes === undefined || clientes.length === 0 ){ %>
										<tr>
											<td><p style="text-decoration-style: bold; text-decoration-color: red">No hay datos disponibles</p></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<%	} else {
												for (var i = 0; i < clientes.length; i ++){
													var nombre = clientes[i].nombre +' ' +clientes[i].primer_apellido+' '+clientes[i].segundo_apellido;
													var id_cliente = clientes[i]._id;
										%>
										<tr>
											<td><%= id_cliente %></th>
											<td><%= nombre %> </td>
											<td><%= clientes[i].rfc %></td>
											<td><%= clientes[i].telefono %></td>
										</tr>
										<%		}
											} %>
										</tbody>
										</table>
									</div>
									<!-- Catalogo de clientes -->
								</div>
								<!-- CONTENEDOR DE TABLAS ENDS -->
								<div class="form-group">
									<label>
										<span for="enganche" class="label-text col-sm-8 col-lg-8">Enganche:</span>
										<div class="col-sm-4 col-lg-4">
											<input type="text" class="form-control transparent-input" placeholder="Enganche" id="enganche" name="venta[enganche]">
										</div>
									</label>
								</div>
								<div class="form-group">
									<label>
										<span for="bonificacion" class="label-text col-sm-8 col-lg-8">Bonificaci&oacute;n de Enganche:</span>
										<div class="col-sm-4 col-lg-4">
											<input type="text" class="form-control transparent-input" placeholder="Bonificaci&oacute;n de Enganche" id="bonificacion" name="venta[bonificacion]">
										</div>
									</label>
								</div>
								<div class="form-group pull-rigth">
									<label>
										<span for="total_venta" class="label-text col-sm-8 col-lg-8">Total:</span>
										<div class="col-sm-4 col-lg-4">
											<input type="text" class="form-control transparent-input" placeholder="Total" id="total_venta" name="venta[total]">
										</div>
									</label>
								</div>
								<div id="divAbonosContainer" class="form-group">
									<!-- Calculo de abono -->
									<div id="divAbonosMensuales" class="form-group col-sm-12 col-lg-12" style="display: none">
										<table id="tblAbonosMensuales" class="table table-hover">
										<thead>
										<tr>
											<th>ABONOS</th>
											<th>TOTAL A PAGAR</th>
											<th>AHORRO</th>
										</tr>
										</thead>
										<tbody>
										<%	if (plazos === undefined || plazos.length === 0){ %>
										<tr>
											<td><p style="text-decoration-style: bold; text-decoration-color: red">No hay datos disponibles</p></td>
											<td></td>
											<td></td>
										</tr>
										<%	} else {
												for (var i = 0; i < plazos.length; i ++){
													var abonos_plazo = plazos[i].plazo;
										%>
										<tr>
											<td>
												<%= abonos_plazo %> ABONOS DE 
												<input id="<%= abonos_plazo %>_abonos_de" type="text" class="transparent-input" readonly>
											</td>
											<td>
												TOTAL A PAGAR 
												<input id="<%= abonos_plazo %>_total_pagar" type="text" class="transparent-input" readonly>
											</td>
											<td>
												SE AHORRA 
												<input id="<%= abonos_plazo %>_se_ahorra" type="text" class="transparent-input" readonly>
											</td>
										</tr>
										<%		}
											} %>
										</tbody>
										</table>
									</div>
									<!-- Calculo de abono ends-->
								</div>
							</div>
							<!-- Modal body ends-->
							<!-- Modal footer -->
							<div class="modal-footer col-sm-12 col-lg-12">
								<button type="button" class="btn btn-danger btn-secundary pull-rigth" data-dismiss="modal">Cancelar</button>
								<button type="submit" class="btn btn-success btn-primary pull-rigth" id="btnRegistraVenta">Siguiente</button>
							</div>
							<!-- Modal footer ends -->
						</form>
					</div>
					<!-- MODAL CONTENT ENDS -->
				</div>
				<!-- MODAL DIALOG ENDS -->
			</div>
			<!-- MODAL REGISTRO DE VENTA -->

			<!------ MODAL DETALLE DE VENTA -->
			<div id="detalleVentaModal" class="modal fade" role="dialog" aria-labelledby="detalleVentaModalLabel" aria-hidden="true">
				<!------ MODAL DIALOG -->
				<div class="modal-dialog modal-full-height" rol="document">
					<!-- MODAL CONTENT -->
					<div class="modal-content modal-full-height">
						<!-- Modal header-->
						<div class="modal-header col-sm-12 col-lg-12">
							<h2 class="modal-title" id="detalleVentaModalLabel">Detalle de Venta </h2>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<!-- Modal body-->
						<div class="modal-body col-sm-12 col-lg-12">
								<!-- CONTENEDOR DE TABLAS -->
								<div id="divTablesContainer" class="form-group">
									<!-- Registro de Ventas -->
									<div id="divRegistroVenta" class="form-group  col-sm-12 col-lg-12">
										<table id="tblRegistroVenta" class="table table-hover">
										<thead>
										<tr>
											<th>Id</th>
											<th>Descripci&oacute;n</th>
											<th>Modelo</th>
											<th>Cantidad</th>
											<th>Precio</th>
											<th>Importe</th>
										</tr>
										</thead>
										<tbody id="ventasDataTable">
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										</tbody>
										</table>
									</div>
								</div>
								<!-- CONTENEDOR DE TABLAS ENS -->
						</div>
						<!-- Modal footer -->
						<div class="modal-footer col-sm-12 col-lg-12">
							<button type="button" class="btn btn-danger btn-secundary pull-rigth" data-dismiss="modal">Cerrar</button>
						</div>
						<!-- Modal footer ends -->
					</div>
					<!-- MODAL CONTENT ENDS -->
				</div>
				<!-- MODAL DIALOG ENDS -->
			</div>
			<!-- MODAL DETALLE DE VENTA -->
		</div>
	</div>
</main>

<footer>
	<% include ./partials/footer %>
</footer>

</body>
</html>